In [10]:
import numpy as np
import pandas as pd

In [11]:
data = {
    'FN' : ['A','B'],
    'LN' : ['X','Y']
}

In [12]:
df = pd.DataFrame(data)

In [13]:
df

  FN LN
0  A  X
1  B  Y

In [14]:
def cn(row):
    return f"{row['FN'] }{row['LN']}"

In [18]:
df['FullN'] = df.apply(cn,axis=1)

In [19]:
df

  FN LN FullN
0  A  X    AX
1  B  Y    BY